$CollorYellow: #ffeb3b;
$colorBlue: #2196f3;
$ColorRed: #f44336;
$ColorGreen: #8bc34a;
$ColorLight: #f5f5f5;
$ColorDark: #212121;
$ColorIndigo: #311B92;

$Colors: (
  'ColorYellow': #ffeb3b,
  'ColorBlue': #2196f3,
  'ColorRed': #f44336,
  'ColorGreen': #8bc34a,
  'ColorLight': #f5f5f5,
  'ColorDark': #212121,
  'ColorIndigo': #311B92,
);
